<footer class="footer">
  <div class="container">
      <p> Using <a href="https://github.com/DaftMonk/generator-angular-fullstack">Angular Fullstack v2.0.13</a> |
        <a href="https://twitter.com/florian_georg">@florian_georg</a> |
        Build and run on <a href="https://jazoon-dataviz.mybluemix.net">IBM Bluemix</a></p>
      <p>
        <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png" alt="Mobile Analytics" /></a>
      </p>
  </div>
</footer>
